{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<div class="pub">
blablabla<br>
blablabla<br>
blablabla<br>
blablabla<br>
</div>
<div class="row">
    <div class="col-12">
        <h1>
            {{categorie.nom}}
        </h1>
    </div>

    {% for sscat in categorie.sousCategories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
            <div class="my-3 mx-3 text-center">
                {{ sscat.nom }}<br>
                <img src="https://picsum.photos/200/150" alt="" class="img-fluid w-100">
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
